<p>You can also log in using your Gmail or Yahoo Accounts!</p>
<p><a href="javascript:$('#openid_url').val('https://www.google.com/accounts/o8/id');$('#open_id_submit').click();">Log in with Gmail</a></p>
<p>
<%= label_tag 'OpenID URL' %><br />
<%= text_field_tag "openid_url" %>
</p>
<p><%= submit_tag "Log in", :id => 'open_id_submit', :name => 'open_id_submit' %></p>