<% content_for :body_class, 'has-sidebar' %>
<% content_for :content_class, 'table-wrap' %>
<table id='content-table'>
<tr>
  <td id="sidebar">
    <ul>
      <li class="widget widget_p3-twitter-html">
        <h3 class='widgettitle'>The Ceremony</h3>
      </li>
      <li class="widget widget_p3-twitter-html">
        <h3 class='reception-left widgettitle'>The Reception</h3>
      </li>
    </ul>
  </td>
  <td id='content-td'>
    <div id="post-2" class="post-2 page hentry category-uncategorized self-clear">
	  <div class="post-wrap self-clear content-bg">
	    <div class="post-wrap-inner">
		  <div class='post-header normal'>
            <div class='post-title-wrap'>
		      <h1 class='entry-title'><a href="http://www.christchurchcathedral.us/">Christ Church Cathedral</a></h1>
	        </div>
		  </div>
		  <div class="entry-content self-clear">
		    <p>We will be getting married in the beautiful <a href="http://www.christchurchcathedral.us/">Christ Church Cathedral</a> in downtown St. Louis, Missouri. This historic gothic cathedral starting holding services in 1867 and is home to the oldest Episcopal parish west of the Mississippi.</p>
            <p><a href="http://maps.google.com/maps?hl=en&client=safari&ie=UTF8&q=christchurch+cathedral+st+louis+review&fb=1&gl=us&hq=christchurch+cathedral&hnear=St+Louis,+MO&cid=0,0,7402570745345574835&z=16&iwloc=A">Get Directions Here!</a></p>
            <br/>
          </div><!-- .entry content -->
          <div class='post-header normal'>
            <div class='post-title-wrap'>
		      <h1 class='entry-title'><a href="http://www.lumenstl.com/">Lumen</a></h1>
	        </div>
		  </div>
		  <div class="entry-content self-clear">
		    <p>After the ceremony, guests will make their way west to the reception at Lumen which is quite simply an amazing space. It has a state of the art LED lighting system that is like nothing else in the city.</p>
            <p><a href="http://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=2201+Locust+St,+Saint+Louis,+MO+63103-1509&fb=1&gl=us&hnear=Jupiter,+FL&cid=0,0,17688822657137891108&z=16&iwloc=A">Get Directions Here!</a></p>
            <br/>
          </div><!-- .entry content -->
        </div><!-- .post-wrap-inner -->
	    <div class="post-footer"></div>
	  </div><!-- .post-wrap -->
    </div><!-- #post-2-->
  </td>
</tr>
</table>
