<% content_for :body_class, 'has-sidebar' %>
<% content_for :content_class, 'table-wrap' %>
<table id='content-table'>
<tr><!--
  <td id="sidebar">
    <ul>
      <li class="widget widget_p3-twitter-html">
        <h3 class='widgettitle'>Registries</h3>
      </li>
    </ul>
  </td>-->
  <td id='content-td'>
    <div id="post-2" class="post-2 page hentry category-uncategorized self-clear">
	  <div class="post-wrap self-clear content-bg">
	    <div class="post-wrap-inner">
		  <div class='post-header normal'>
            <div class='post-title-wrap'>
		      <h1 class='entry-title' style="width:900px;text-align:center">The Wedding Party!</h1>
	        </div>
		  </div>
		  <div class="entry-content self-clear wedding-party">
            <div class="left">
              <img src="/images/peeps/rob.png"/>
              <p>Robert Tweedie</p>
            </div>
            <div class="right">
              <img src="/images/peeps/emily.png"/>
              <p>Emily Berns</p>
            </div>
            <div class="left">
              <img src="/images/peeps/brad.png"/>
              <p>Bradley Fotsch</p>
            </div>
            <div class="right">
              <img src="/images/peeps/sarika.png"/>
              <p>Sarika Amin</p>
            </div>
            <div class="left">
              <img src="/images/peeps/steve.png"/>
              <p>Stephen Graff</p>
            </div>
            <div class="right">
              <img src="/images/peeps/alex.png"/>
              <p>Alexandra Ferretti</p>
            </div>
            <div class="left">
              <img src="/images/peeps/greg.png"/>
              <p>Gregory Haupt</p>
            </div>
            <div class="right">
              <img src="/images/peeps/nicole.png"/>
              <p>Nicole Hellwig</p>
            </div>
            <div class="left">
              <img src="/images/peeps/tom.png"/>
              <p>Tassos Lambrou</p>
            </div>
            <div class="right">
              <img src="/images/peeps/jackie.png"/>
              <p>Jacquelyn Rice</p>
            </div>
          </div><!-- .entry content -->
        </div><!-- .post-wrap-inner -->
	    <div class="post-footer"></div>
	  </div><!-- .post-wrap -->
    </div><!-- #post-2-->
  </td>
</tr>
</table>
