<% content_for :body_class, 'has-sidebar' %>
<% content_for :content_class, 'table-wrap' %>
<table id='content-table'>
<tr><!--
  <td id="sidebar">
    <ul>
      <li class="widget widget_p3-twitter-html">
        <h3 class='widgettitle'>Registries</h3>
      </li>
    </ul>
  </td>-->
  <td id='content-td'>
    <div id="post-2" class="post-2 page hentry category-uncategorized self-clear">
	  <div class="post-wrap self-clear content-bg">
	    <div class="post-wrap-inner">
		  <div class='post-header normal'>
            <div class='post-title-wrap'>
		      <h1 class='entry-title'>We have reserved blocks of rooms at:</h1>
	        </div>
		  </div>
          <div class="right">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=208626397316836664912.0004a28ae3488a9efacc5&amp;hl=en&amp;ie=UTF8&amp;ll=38.629879,-90.200146&amp;spn=0.007543,0.024783&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=208626397316836664912.0004a28ae3488a9efacc5&amp;hl=en&amp;ie=UTF8&amp;ll=38.629879,-90.200146&amp;spn=0.007543,0.024783&amp;source=embed" style="text-align:left">Wedding Hotels</a> in a larger map</small>
          </div>
		  <div class="left entry-content">
		    <p><a href="http://www.marriott.com/hotels/travel/stldt?groupCode=fswfswa&app=resvlink&fromDate=9/23/11&toDate=9/25/11"><img src="/images/renassiance.png"/></a></p>
            <p><a href="https://resweb.passkey.com/go/SuttonFerrettiWedding"><img src="/images/hyatt.png"/></a></p>
            <p><a href="https://wwwc.druryhotels.com/Reservations.aspx?groupno=2117809"><img src="/images/pear.png"/></a></p>
          </div><!-- .entry content -->
        </div><!-- .post-wrap-inner -->
	    <div class="post-footer"></div>
	  </div><!-- .post-wrap -->
    </div><!-- #post-2-->
  </td>
</tr>
</table>
