<% content_for :body_class, 'has-sidebar' %>
<% content_for :content_class, 'table-wrap' %>
<table id='content-table'>
<tr><!--
  <td id="sidebar">
    <ul>
      <li class="widget widget_p3-twitter-html">
        <h3 class='widgettitle'>Registries</h3>
      </li>
    </ul>
  </td>-->
  <td id='content-td'>
    <div id="post-2" class="post-2 page hentry category-uncategorized self-clear">
	  <div class="post-wrap self-clear content-bg">
	    <div class="post-wrap-inner">
		  <div class='post-header normal'>
            <div class='post-title-wrap'>
		      <h1 class='entry-title'>Wedding Registries</h1>
	        </div>
		  </div>
		  <div class="entry-content self-clear">
		    <p><a href="http://www.cb2.com/Gift-Registry/Guest/ViewRegistry.aspx?grid=4702392"><img src="/images/cb2.png"/></a></p>
            <p><a href="http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4700015"><img src="/images/cb.png"/></a></p>
            <p><a href="http://www1.macys.com/registry/wedding/guest/?registryId=444825"><img src="/images/macys.png"/></a></p>
          </div><!-- .entry content -->
        </div><!-- .post-wrap-inner -->
	    <div class="post-footer"></div>
	  </div><!-- .post-wrap -->
    </div><!-- #post-2-->
  </td>
</tr>
</table>
