<div id="masthead" class="main_view self-clear">
    <div class="window">
        <div class="image_reel">
            <a href="#"><img src="/images/banner/1.png" alt="" /></a>
            <a href="#"><img src="/images/banner/2.png" alt="" /></a>
            <a href="#"><img src="/images/banner/3.png" alt="" /></a>
            <a href="#"><img src="/images/banner/4.png" alt="" /></a>
        </div>
    </div>
    <div class="paging">
        <a href="#" rel="1">1</a>
        <a href="#" rel="2">2</a>
        <a href="#" rel="3">3</a>
        <a href="#" rel="4">4</a>
    </div>
</div>