<div id="header" class="self-clear">
  <%= render_partial_layout 'logo' %>
  <!-- Begin Navigation -->
  <%= render_partial_layout 'menu' %>
  <!-- End Navigation -->
  <%= render_partial_layout 'banner' %>
</div>
<!-- End Header -->